{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des événements</h1>
    <ul>
        <li>
            <a class="btn btn-new" href="{{ path('event_new') }}">Créer un nouvel évènement</a>
        </li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{% if event.date %}{{ event.date|date('d-m-Y à  H\\hi') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('event_show', { 'id': event.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('event_edit', { 'id': event.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--
    <ul>
        <li>
            <a class="btn btn-new" href="{{ path('event_new') }}">Créer un nouvel évènement</a>
        </li>
    </ul>
    -->
{% endblock %}
