{% extends 'base.html.twig' %}

{% block body %}

  <!--Ici, il faut envoyer le title depuis le controller, on va changer en fonction de nex et de previous  -->
    <h1>{{ title }}</h1>
	<div class="container-event">
        {% for event in events %}
        <!-- event = Div générale  qui contient tout pour un événement (wagon en entier) -->

			<div class="event">
              <!--La Div pour le date, il faudra plus tard la marquer en entier style vendredi 10 novembre 2017-->
              <div class="date">
                {% if event.date %} {{ event.date|date('d M Y') }}{% endif %}
              </div>
              <!--title = event name  -->
              <div class="title_event">
                  {{ event.name }}
              </div>
              <!-- Faire une div ronde pour l'heure  -->
              <div class="hour_event">
                {% if event.date %}{{ event.date|date('H') }}h{{ event.date|date('i') }}{% endif %}
              </div>
            <!--Et on ferme la div event  -->
          </div>
        {% endfor %}
	</div>
	<br>
    <ul>
        <li>
			{% if status == "next" %}
            <a class="btn btn-warning" href="{{ path('event_previous') }}">Voir les événements passés</a>
			{% elseif status == "previous" %}
			<a class="btn btn-new" href="{{ path('event_next') }}">Voir les événements futurs</a>

			{% endif %}
        </li>
    </ul>

{% endblock %}
