{% extends 'base.html.twig' %}

{% block body %}

  <!--Ici, il faut envoyer le title depuis le controller, on va changer en fonction de nex et de previous  -->
    <h1>{{ title }}</h1>
	<div class="container-event">
        {% for event in events %}
        <!-- event = Div générale  qui contient tout pour un événement (wagon en entier) -->


			<div class="event">
              <!--La Div pour le date, il faudra plus tard la marquer en entier style vendredi 10 novembre 2017-->
			  {% if type == 'event' %}
              <div class="date">
				  {% else %}
				<div class="date date_meeting">
			{% endif %}
                {% if event.date %} {{ event.date|date('d M Y') }}{% endif %}
              </div>
              <!--title = event name  -->
              <div class="title_event">
                  {{ event.name }}
              </div>
              <!-- Faire une div ronde pour l'heure  -->
			  {% if type == 'event' %}
              <div class="hour_event">
				  {% else %}
			<div class="hour_event hour_meeting">
				{% endif %}
                {% if event.date %}{{ event.date|date('H') }}h{{ event.date|date('i') }}{% endif %}
              </div>
            <!--Et on ferme la div event  -->
          </div>
        {% endfor %}
	</div>
	<br>
    <ul>
        <li>
			{% if status == "next" %}
			{# 'bla bla' ~ rayon.nom ~ 'bli bli' #}
            <a class="btn btn-new" href="{{ path(type ~ '_previous') }}">{{showprevious}}</a>
			{% elseif status == "previous" %}
			<a class="btn btn-new" href="{{ path(type~'_next') }}">{{shownext}}</a>

			{% endif %}
        </li>
        <li>
            {% if is_granted('ROLE_ADMIN') %}
			<a class="btn btn-warning" href="{{ path(type~'_index') }}">Voir tout / modifier</a>
			<a class="btn btn-primary" href="{{ path(type~'_new') }}">Créer</a>
			{% endif %}
        </li>
    </ul>

{% endblock %}
