{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	<h1>Mes élèves</h1>
		{% for subscription in students %}
		<h2>
		{# N°{{subscription.id}} #}
		{{subscription.student.firstname}} {{subscription.student.lastname}}, {{ subscription.specialties.name }} le {{subscription.startAt | localizeddate('full', 'none') |trans}}
		<a href="{{path('all_observations', {'id':subscription.id})}}" class="btn btn-primary">Voir les observations</a></h2>
		{% endfor %}


{% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
<script src="https://use.fontawesome.com/d21c915728.js"></script>
<script src="{{asset('js/app.js')}}"></script>
<script>require('src/index');</script>
{% endblock %}
