{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <div class="test">
          <h1>Vos cours aujourd'hui : </h1>
          {% for item in inscriptions %}
             <h2>______</h2>
			  <p>Date du 1er cours : {{ item.startAt | date("d-m-Y")}}</p>
			  <p>Heure du cours : {{ item.startAt | date("H\\hi")}}</p>
			  <p>Activité N° : {{item.id}} </p>
			  <p>  Cours de {{item.specialties.name}}</p>
			  <p> Prof : {{item.teacher.username}}</p>
			  <p>Elève : {{item.student.username}}</p>
          {% else %}

          {% endfor %}

  </div>
		<div id="root">


		</div>
	{% endif %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
<script src="https://use.fontawesome.com/d21c915728.js"></script>
<script src="{{asset('js/app.js')}}"></script>
<script>require('src/index');</script>
{% endblock %}
