{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des leçons</h1>
    <!--
    <ul>
        <li>
            <a href class="btn btn-new" ="{{ path('lesson_new') }}">Créer une nouvelle leçon</a>
        </li>
    </ul>
    -->
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Début de la leçon</th>
                <th>Le professeur est présent</th>
                <th>L'élève est présent</th>
                <th>Observation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td><a href="{{ path('lesson_show', { 'id': lesson.id }) }}">{{ lesson.id }}</a></td>
                <td>{% if lesson.startAt %}{{ lesson.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lesson.teacherIsPresent %}Yes{% else %}No{% endif %}</td>
                <td>{% if lesson.studentIsPresent %}Yes{% else %}No{% endif %}</td>
                <td>{{ lesson.appreciation }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('lesson_show', { 'id': lesson.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('lesson_edit', { 'id': lesson.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--
    <ul>
        <li>
            <a href class="btn btn-new" ="{{ path('lesson_new') }}">Créer une nouvelle leçon</a>
        </li>
    </ul>
    -->
{% endblock %}
