{% extends 'base.html.twig' %}

{% block body %}
    <h1>Meeting</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ meeting.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ meeting.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if meeting.date %}{{ meeting.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('meeting_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('meeting_edit', { 'id': meeting.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
