{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste d'inscriptions</h1>

    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Professeur</th>
                <th>Elève</th>
                <th>Spécialité</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}

            <tr>
                <td><a href="{{ path('subscription_show', { 'id': subscription.id }) }}">{{ subscription.id }}</a></td>
                <td>{{subscription.teacher}}</td>
                <td>{{subscription.student}}</td>
                <td>{{subscription.specialties}}</td>
                <td>{% if subscription.startAt %}{{ subscription.startAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if subscription.finishAt %}{{ subscription.finishAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if subscription.subscriptionAt %}{{ subscription.subscriptionAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{ path('subscription_show', { 'id': subscription.id }) }}">voir</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('subscription_edit', { 'id': subscription.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a  class="btn btn-new"href="{{ path('subscription_new') }}">Nouvelle inscription</a>
        </li>
    </ul>
{% endblock %}
